<h1> Cohort Portal</h1>
<div>
  <%= form_tag("/cohort/create", method: "post") do %>
    <%= text_field(:cohort, :name, placeholder: "Cohort Name") %>
    <%= text_field(:cohort, :start_date, placeholder: "Start Date") %>
    <%= text_field(:cohort, :end_date, placeholder: "End Date") %>
    <button class="ui primary button">Save</button>
  <% end %>
</div>
<br>
<br>
<div class="full half-500 third-800">
  <table class="primary tab">
    <thead>
      <tr>
        
        <th>Cohort Name</th>
        <th> Start Date</th>
        <th> End Date</th>
        <th><button class="ui primary button">
        Save
      </button> </th>
        <th> </th>
      </tr>
    </thead>
    <tbody>
      <% @all_cohorts.each do |cohorts| %>
      <tr>
        <td><%= cohorts.name %></td>
        <td><%= cohorts.start_date %></td>
        <td><%= cohorts.end_date %></td>
        <td><button class='success'>Success</button></td>
        <td><%= link _to 'Rmv_Cohort'button class='error'>Success</button></td>
        </tr>
        <button class="ui secondary button">
        Okay
      </button>
      <button class="ui button">
        Cancel
      </button>
    <% end %>
    </tbody>
  </table>
</div>


<button class="ui primary button">
  Save
</button>
<button class="ui button">
  Discard
</button>