<h1> Course Portal</h1>
<div>
  <%= form_tag("/course/create", method: "post") do %>
    <%= text_field(:course, :name, placeholder: "Course Name") %>
    <%= text_field(:course, :total_hours, placeholder: "Total Hours") %>
    <%= text_field(:course, :start_date, placeholder: "Start Date") %>
    <%= text_field(:course, :end_date, placeholder: "End Date") %>
    <button class="ui primary button">Save</button>
  <% end %>
</div>
<br>
<br>
<div class="tab">
  <table class="primary">
    <thead>
      <tr>
        
        <th>Course Name</th>
        <th> Total Hours</th>
        <th> </th>
        <th> </th>
      </tr>
    </thead>
    <tbody>
      <% @all_courses.each do |courses| %>
      <tr>
        <td><%= courses.name %></td>
        <td><%= courses.total_hours %></td>
        <td><button class='success'>Success</button></td>
        <td><button class='error'>Success</button></td>
      </tr>
    <% end %>
    </tbody>
  </table>
</div>