<h1> Instructor Portal</h1>
<div>
  <%= form_tag("/instructor/create", method: "post") do %>
    <%= text_field(:instructor, :first_name, placeholder: "First Name") %>
    <%= text_field(:instructor, :last_name, placeholder: "Last Name") %>
    <%= text_field(:instructor, :age, placeholder: "age") %>
    <button class="ui primary button">Save</button>
  <% end %>
</div>
<br>
<div>
  <table class="primary">
    <thead>
      <tr>
        
        <th>First Name</th>
        <th> Last Name</th>
        <th>Age</th>
        <th>Education</th>
        <th>Salary</th>
        <th class="edit"></th>
        <th class="edit"></th>
      </tr>
    </thead>
    <tbody>
      <% @all_instructors.each do |instructors| %>
      <tr>
        <td><%= instructors.first_name %></td>
        <td><%= instructors.last_name %></td>
        <td><%= instructors.age %></td>
        <td><%= instructors.highest_education_completed %></td>
        <td><%= instructors.salary %></td>
        <td><%= link_to 'button class="ui primary button">Edit</button></td>
        <td><button class="ui secondary button">Delete</button></td>
      </tr>
    <% end %>
    </tbody>
  </table>
</div>


